.edit-item-form {
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px; /* Match with container radius */
    background-color: #2E2F3E; /* Match with container background */
    color: #fff; /* Match text color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Match with container shadow */
    font-family: 'Geologica', sans-serif; /* Match font family */
  }
  
  .edit-item-form h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .edit-item-form form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-item-form label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .edit-item-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; /* Match button radius */
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
    background-color: #fff; /* Input background */
    color: #333; /* Input text color */
  }
  
  .edit-item-form button {
    padding: 12px;
    border: none;
    border-radius: 4px; /* Match button radius */
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .edit-item-form button[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .edit-item-form button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .edit-item-form button[type="button"] {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .edit-item-form button[type="button"]:hover {
    background-color: #e04141; /* Darker red on hover */
  }
  